<div class="layout-data2">
    Mis Pedidos Pendientes
</div>
<div class="layout-data">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id" style="width: 10%;">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <ng-container matColumnDef="farmer" style="width: 13%;">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Agricultor</th>
                <td mat-cell *matCellDef="let row"> {{row.farmer.user.name}}  {{row.farmer.user.lastName}} </td>
            </ng-container>


            <ng-container matColumnDef="date" style="width: 13%;">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                <td mat-cell *matCellDef="let row"> {{row.createDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
            </ng-container>


            <ng-container matColumnDef="place" style="width: 13%;">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Lugar de entrega</th>
                <td mat-cell *matCellDef="let row"> {{row.destinationRegion}}, {{row.destinationDistrict}}</td>
            </ng-container>

            <ng-container matColumnDef="total" style="width: 13%;">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio total</th>
                <td mat-cell *matCellDef="let row"> S./{{row.total}} </td>
            </ng-container>

            <ng-container matColumnDef="status" style="width: 12%;">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                <td mat-cell *matCellDef="let row">
    
                    <mat-chip-list aria-label="Fish selection">
                        <mat-chip mat-icon-button>{{row.status}}</mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>


            <ng-container matColumnDef="actions" style="width: 15%;">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Detalles </th>
                <td mat-cell *matCellDef="let row">

                    <button  mat-icon-button (click)="openDetails(row)">
                        <mat-icon>info</mat-icon> 
                    </button>

                </td>
            </ng-container>
            <ng-container matColumnDef="message" style="width: 15%;">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cancelar Pedido </th>
                <td mat-cell *matCellDef="let row">

                    <button style="margin-left:20px" mat-icon-button (click)="cancelarPedido(row)">
                        <mat-icon>cancell</mat-icon>
                    </button>
 
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>