<div>
  <div class="title">
    <p>Agroshop</p>
  </div>
  <div class="title-registry">
    <p>Registrate</p>
  </div>
  <div class="title-farmer">
    <p>Comprador</p>
  </div>
</div>
  <form class="registry-form" action="">
    <mat-form-field appearance="fill">
      <mat-label>Nro de RUC</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>DNI</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nombres</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Apellidos</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Usuario</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Repetir contraseña</mat-label>
      <input matInput>
    </mat-form-field>
    <div class="example-button-row">
      <a mat-button href="https://www.google.com/" target="_blank">Registrar</a>
    </div>
  </form>
