
.vehicle-facts{
    display: flex;
    align-items: center;
}

.vehicle-content{
    width: 100%;
    justify-content: center;
}

.mat-card-title{
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
}

.actions{
    margin-top: 10px;
    justify-content: center;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
}

.actions{
    margin-top: 10px;
    justify-content: flex-end;
    text-align: flex-end;
}

.first-btn{
    margin-right: 5%;
}

.mat-form-field{
    margin-right: 12px;
}

.btn-select{
    display: block;
    width: 100%;
    justify-content: center !important;
}

.btn-form{
    width: 20%;
}

.subtitles{
    display: block !important;
    font-size: 20px;
    font-weight: bold;
}

.mat-select{
    width: 300px !important;
    height: 300px !important;
}