
.vehicle-facts{
    display: flex;
    align-items: center;
}

.vehicle-content{
    width: 100%;
}

.mat-card-title{
    font-size: 25px;
}

.actions{
    margin-top: 10px;
    justify-content: center;
    text-align: center;
}

.buttons{
    display: flex;
}

.actions{
    margin-top: 10px;
    justify-content: flex-end;
    text-align: flex-end;
}

.first-btn{
    margin-right: 5px;
}

.mat-form-field{
    margin-right: 12px;
}
