<div class="vehicle-facts">
    <div class="vehicle-img">
        <img mat-card-image src="../../../../../assets/images/hyundai-facebook.jpg" alt="" >
    </div>
    <div class="vehicle-content">
        <mat-card-title>Carro 1</mat-card-title>
        <mat-card-subtitle>Hyundai</mat-card-subtitle>
        <hr>
        <mat-card-content>
            <p>RUC: 88172881</p>
            <p>NOMBRE: JORDY</p>
            <p>CASA: ASKJDJAJD</p>
            <p>LINK: ASDJASD</p>
            <p>GRIFO: JADKASDKKX</p>
        </mat-card-content>
    </div>
</div>
