
.title-component{
    min-height: 50px;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    margin: 0;
}

.container{
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title-text{
    justify-content: flex-start;
    width: 84%;
    margin: 0;
    align-items: center;
    height: 100%;
}

.title-button{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}

.mat-card{
    min-width: 250px;
    max-width: 270px;
    min-height: 350px;
    max-height: 450px;
    display: inline-block;
    justify-content: center;
    text-align: center;
}

.mat-card-actions{
    text-align: center;
}

.mat-card-title{
    text-align: center;
}

.mat-card-subtitle{
    text-align: center;
}

.mat-card-header{
    justify-content: center;
}

.mat-card-content{
    justify-content: center;
    text-align: center;
}

.button-new{
    background-color: white;
    z-index: 3;
    position: fixed;
}

.mat-toolbar{
    width: 100%;
    position: fixed;
    z-index: 2;
}
