<p class="subtitle">Datos del contrato</p>
<hr />

<p>Nombre del contrato:</p>
<mat-form-field appearance="outline">
  <input
    matInput
    placeholder="Mi Contrato"
    [(ngModel)]="contract.nameContract"
    required
  />
</mat-form-field>
<hr />

<mat-form-field color="accent" appearance="fill">
  <mat-label>Fecha de inicio:</mat-label>
  <input
    matInput
    [matDatepicker]="picker1"
    [(ngModel)]="contract.initDate"
    required
  />
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-form-field color="accent" appearance="fill">
  <mat-label>Fecha de término:</mat-label>
  <input
    matInput
    [matDatepicker]="picker2"
    [(ngModel)]="contract.endContract"
    required
  />
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2 color="primary"></mat-datepicker>
</mat-form-field>

<button
  mat-button
  color="primary"
  style="background-color: #37966f; color: white"
  (click)="generateContract()"
  [disabled]="!isValidateForm()"
>
  Generar contrato
</button>
