<div class="text-center page">

  <a class="banner banner-top"
    style="margin-right:15px;margin-left:15px;margin-bottom:15px;;height: 100px;background-color: silver;"
    href="https://www.templatemonster.com/website-templates/monstroid2.html" target="_blank"><img src="" alt=""
      height="0">

    Sistema de integracion entre cliente y agricultor</a>

  <section class="section">
    <div class="shell-wide">
      <div class="range range-30 range-xs-center">

        <div class="cell-lg-8 cell-xl-9">
          <!-- Classic slider-->
          <section class="section" style="background-color: red;">
            <!-- Swiper -->
            <div class="swiper-container swiper-slider swiper-style-2" data-loop="false" data-autoplay="5500"
              data-simulate-touch="false" data-slide-effect="slide" data-direction="vertical">
              <img src="/assets/images/login/background2.jpg" alt="" style="width: 100%;height: 100%;">
            </div>
          </section>
        </div>

        <div class="cell-lg-4 cell-xl-3 reveal-lg-flex">
          <div class="hotel-booking-form">
            <h1 style="font-size:45px;font-weight:bold;">Iniciar Sesion</h1>
            <br>

            <!-- RD Mailform-->
            <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact"
              [formGroup]="loginForm">
              <div class="range range-sm-bottom spacing-20">

                <div fxLayout="row" *ngIf="enProceso">
                  <mat-progress-bar mode="query" color="accent" fxFlex></mat-progress-bar>
                  <br>
                </div>


                <div class="cell-lg-12 cell-md-4">
                  <p class="text-uppercase">Ususario</p>
                  <div class="form-wrap">
                    <!--<label class="form-label" for="contact-first-name">Your Full Name</label>-->
                    <label class="form-label" for="contact-first-name"></label>
                    <input class="form-input" id="contact-first-name" type="text" name="name" formControlName="username"
                      type="text" name="username" placeholder="Usuario"
                      [class.is-invalid]="this.loginForm.controls.username.hasError('required') && this.loginForm.controls.username.touched">
                  </div>

                  <mat-error
                    *ngIf="this.loginForm.controls.username.hasError('required') && this.loginForm.controls.username.touched">
                    Es requerido
                  </mat-error>

                </div>




                <div class="cell-lg-12 cell-md-4 cell-sm-6">
                  <p class="text-uppercase">Contraseña</p>
                  <div class="form-wrap">
                    <label class="form-label" for="password"></label>
                    <input class="form-input" formControlName="password" type="password" name="password"
                      placeholder="Ingrese Contraseña"
                      [class.is-invalid]="this.loginForm.controls.password.hasError('required') && this.loginForm.controls.password.touched">
                  </div>


                  <mat-error
                    *ngIf="this.loginForm.controls.password.hasError('required') && this.loginForm.controls.password.touched">
                    Es requerido
                  </mat-error>

                </div>


                <div class="cell-lg-12 cell-md-4">
                  <button class="button button-primary button-square button-block button-effect-ujarak" type="submit"
                    [disabled]="enProceso" (click)="login()"><span>Ingresar</span></button>
                </div>

                <p style="width: 100%;
            text-align: center;
            border-bottom: 1px solid grey;
            line-height: 0.1em;
            "><span style="padding: 0 10px; "></span></p>


                <div class="cell-lg-12 cell-md-4">
                  <button class="button button-primary button-square button-block button-effect-ujarak"
                    [matMenuTriggerFor]="menu" [disabled]="enProceso"><span>Registrate</span></button>

                  <mat-menu #menu="matMenu" class="cell-lg-12 cell-md-4" style="width: 100%;">
                    <button class="button button-primary button-square button-block button-effect-ujarak"
                      style="width: 100%;" (click)="registryForm('FARMER')"><span>Agricultor</span></button>
                    <button class="button button-primary button-square button-block button-effect-ujarak"
                      (click)="registryForm('CLIENT')"><span>Cliente</span></button>
                    <button class="button button-primary button-square button-block button-effect-ujarak"
                      (click)="registryForm('DRIVER')"><span>Transportista</span></button>
                  </mat-menu>


                </div>




              </div>
            </form>




          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="section section-md">
    <div class="shell">
      <h3>Rooms & Suites</h3>
      <p>Royal Villas offers the finest accommodations with unique designs that provide both a luxurious and relaxing
        environment. Specially <br> selected fabrics and finishes vary from room to room, offering guests a variety of
        beautiful and unique atmospheres to select from.</p>
      <div class="range range-30" data-lightgallery="group">
        <div class="cell-sm-6 cell-md-4"><a class="thumbnail-classic"
            href="/assets/images/grid-gallery-1-1200x800_original.jpg" data-lightgallery="item">
            <figure><img src="/assets/images/grid-gallery-1-370x276.jpg" alt="" width="370" height="276" />
            </figure>
            <div class="caption">
              <p class="caption-title">Single Room</p>
              <p class="caption-text">Each room has its own unique décor and arrangement.</p>
            </div>
          </a>
        </div>
        <div class="cell-sm-6 cell-md-4"><a class="thumbnail-classic"
            href="/assets/images/grid-gallery-2-1200x800_original.jpg" data-lightgallery="item">
            <figure><img src="/assets/images/grid-gallery-2-370x276.jpg" alt="" width="370" height="276" />
            </figure>
            <div class="caption">
              <p class="caption-title">Double Room</p>
              <p class="caption-text">Each room has its own unique décor and arrangement.</p>
            </div>
          </a>
        </div>
        <div class="cell-sm-6 cell-md-4"><a class="thumbnail-classic"
            href="/assets/images/grid-gallery-3-1058x800_original.jpg" data-lightgallery="item">
            <figure><img src="/assets/images/grid-gallery-3-370x276.jpg" alt="" width="370" height="276" />
            </figure>
            <div class="caption">
              <p class="caption-title">Twin Room</p>
              <p class="caption-text">Each room has its own unique décor and arrangement.</p>
            </div>
          </a>
        </div>
        <div class="cell-sm-6 cell-md-4"><a class="thumbnail-classic"
            href="/assets/images/grid-gallery-4-1200x797_original.jpg" data-lightgallery="item">
            <figure><img src="/assets/images/grid-gallery-4-370x276.jpg" alt="" width="370" height="276" />
            </figure>
            <div class="caption">
              <p class="caption-title">Family Room</p>
              <p class="caption-text">Each room has its own unique décor and arrangement.</p>
            </div>
          </a>
        </div>
        <div class="cell-sm-6 cell-md-4"><a class="thumbnail-classic"
            href="/assets/images/grid-gallery-5-1200x800_original.jpg" data-lightgallery="item">
            <figure><img src="/assets/images/grid-gallery-5-370x276.jpg" alt="" width="370" height="276" />
            </figure>
            <div class="caption">
              <p class="caption-title">Executive Suite</p>
              <p class="caption-text">Each room has its own unique décor and arrangement.</p>
            </div>
          </a>
        </div>
        <div class="cell-sm-6 cell-md-4"><a class="thumbnail-classic"
            href="/assets/images/grid-gallery-6-1200x800_original.jpg" data-lightgallery="item">
            <figure><img src="/assets/images/grid-gallery-6-370x276.jpg" alt="" width="370" height="276" />
            </figure>
            <div class="caption">
              <p class="caption-title">VIP Suite</p>
              <p class="caption-text">Each room has its own unique décor and arrangement.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-md bg-secondary-3 text-center">
    <div class="shell">
      <h2>What People Say</h2>
      <div class="range range-50">
        <div class="cell-xs-12">
          <div class="box-outline box-outline-fullwidth box-outline__mod-1">
            <div class="quote-carousel-wrap">
              <!-- Slick Carousel-->
              <div class="slick-slider carousel-parent" data-arrows="false" data-loop="true" data-dots="false"
                data-swipe="true" data-items="1" data-child="#child-carousel" data-for="#child-carousel">
                <div class="item">
                  <div class="quote-center">
                    <div class="quote-center-title">
                      <h4>Perfect spa resort & services!</h4>
                    </div>
                    <p class="quote-center-body">
                      <q>The minute you walk out of the airport you are greeted with a warm welcome from Royal Villas
                        staff member, and it doesn't stop. The staff truly seems to love their job and want to make sure
                        your visit and stay is everything you expect.</q>
                    </p>
                    <div class="quote-center-cite">
                      <cite>Jane Neddery</cite><span>Office manager</span>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="quote-center">
                    <div class="quote-center-title">
                      <h4>Great atmosphere and level of customer service</h4>
                    </div>
                    <p class="quote-center-body">
                      <q>Got a Royal Villas certificate as a gift a few months ago, and I really had a fantastic spa
                        experience there. I arrived early & was greeted warmly at the door. Surprisingly, I didn't have
                        to wait. Everything was perfect. Highly recommend this amazing place to everybody!</q>
                    </p>
                    <div class="quote-center-cite">
                      <cite>Sam Brown</cite><span>Journalist</span>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="quote-center">
                    <div class="quote-center-title">
                      <h4>Wonderful and friendly environment</h4>
                    </div>
                    <p class="quote-center-body">
                      <q>No better way to rediscover the joy in everyday living than at Royal Villas. Second time to
                        visit and experience was just as powerful as the first. They exceeded all my expectation one
                        again. This is the place to visit if you are looking for a high-quality spa!</q>
                    </p>
                    <div class="quote-center-cite">
                      <cite>Julie Adams</cite><span>Babysitter</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="slick-slider" id="child-carousel" data-for=".carousel-parent" data-arrows="false"
                data-loop="true" data-dots="false" data-swipe="true" data-center-mode="true" data-sm-center-mode="true"
                data-md-center-mode="true" data-lg-center-mode="true" data-center-padding="0.50" data-items="1"
                data-xs-items="1" data-sm-items="3" data-md-items="3" data-lg-items="3" data-slide-to-scroll="1">
                <div class="item">
                  <figure><img class="img-circle" src="/assets/images/about-02-100x100.jpg" alt="" width="100"
                      height="100" />
                  </figure>
                </div>
                <div class="item">
                  <figure><img class="img-circle" src="images/about-04-100x100.jpg" alt="" width="100" height="100" />
                  </figure>
                </div>
                <div class="item">
                  <figure><img class="img-circle" src="images/about-05-100x100.jpg" alt="" width="100" height="100" />
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-md bg-white">
    <div class="shell">
      <h2>Nuestro Team</h2>
      <div class="range range-xs-center range-75">
        <!--team member 1-->
        <div class="cell-sm-6 cell-md-4 wow fadeInUp" data-wow-delay=".1s">
          <div class="team-box box-outline">
            <div class="team-image-box"><img src="/assets/images/team-01-295x282.jpg" alt="" width="295" height="282" />
              <div class="team-image-caption">
                <ul class="list-inline">
                  <li><a class="icon-sm icon-white fa-instagram icon" href="#"></a></li>
                  <li><a class="icon-sm icon-white fa-facebook icon" href="#"></a></li>
                  <li><a class="icon-sm icon-white fa-twitter icon" href="#"></a></li>
                </ul>
              </div>
            </div>
            <div class="team-caption"><a class="link team-title" href="#">Theresa Smith</a><span>General Manager</span>
            </div>
          </div>
        </div>
        <!--team member 2-->
        <div class="cell-sm-6 cell-md-4 wow fadeInUp" data-wow-delay=".2s">
          <div class="team-box box-outline">
            <div class="team-image-box"><img src="/assets/images/team-02-295x282.jpg" alt="" width="295" height="282" />
              <div class="team-image-caption">
                <ul class="list-inline">
                  <li><a class="icon-sm icon-white fa-instagram icon" href="#"></a></li>
                  <li><a class="icon-sm icon-white fa-facebook icon" href="#"></a></li>
                  <li><a class="icon-sm icon-white fa-twitter icon" href="#"></a></li>
                </ul>
              </div>
            </div>
            <div class="team-caption"><a class="link team-title" href="#">Albert Mills</a><span>Cosmetologist</span>
            </div>
          </div>
        </div>
        <!--team member 3-->
        <div class="cell-sm-6 cell-md-4 wow fadeInUp" data-wow-delay=".3s">
          <div class="team-box box-outline">
            <div class="team-image-box"><img src="/assets/images/team-03-295x282.jpg" alt="" width="295" height="282" />
              <div class="team-image-caption">
                <ul class="list-inline">
                  <li><a class="icon-sm icon-white fa-instagram icon" href="#"></a></li>
                  <li><a class="icon-sm icon-white fa-facebook icon" href="#"></a></li>
                  <li><a class="icon-sm icon-white fa-twitter icon" href="#"></a></li>
                </ul>
              </div>
            </div>
            <div class="team-caption"><a class="link team-title" href="#">Sandra Adams</a><span>Receptionist</span>
            </div>
          </div>
        </div>

        <!--team member 4-->
        <div class="cell-sm-6 cell-md-4 wow fadeInUp" data-wow-delay=".3s">
          <div class="team-box box-outline">
            <div class="team-image-box"><img src="/assets/images/team-03-295x282.jpg" alt="" width="295" height="282" />
              <div class="team-image-caption">
                <ul class="list-inline">
                  <li><a class="icon-sm icon-white fa-instagram icon" href="#"></a></li>
                  <li><a class="icon-sm icon-white fa-facebook icon" href="#"></a></li>
                  <li><a class="icon-sm icon-white fa-twitter icon" href="#"></a></li>
                </ul>
              </div>
            </div>
            <div class="team-caption"><a class="link team-title" href="#">Sandra Adams</a><span>Receptionist</span>
            </div>
          </div>
        </div>
        <!--team member 5-->
        <div class="cell-sm-6 cell-md-4 wow fadeInUp" data-wow-delay=".3s">
          <div class="team-box box-outline">
            <div class="team-image-box"><img src="/assets/images/team-03-295x282.jpg" alt="" width="295" height="282" />
              <div class="team-image-caption">
                <ul class="list-inline">
                  <li><a class="icon-sm icon-white fa-instagram icon" href="#"></a></li>
                  <li><a class="icon-sm icon-white fa-facebook icon" href="#"></a></li>
                  <li><a class="icon-sm icon-white fa-twitter icon" href="#"></a></li>
                </ul>
              </div>
            </div>
            <div class="team-caption"><a class="link team-title" href="#">Sandra Adams</a><span>Receptionist</span>
            </div>
          </div>
        </div>
        <!--team member 6-->
        <div class="cell-sm-6 cell-md-4 wow fadeInUp" data-wow-delay=".3s">
          <div class="team-box box-outline">
            <div class="team-image-box"><img src="/assets/images/team-03-295x282.jpg" alt="" width="295" height="282" />
              <div class="team-image-caption">
                <ul class="list-inline">
                  <li><a class="icon-sm icon-white fa-instagram icon" href="#"></a></li>
                  <li><a class="icon-sm icon-white fa-facebook icon" href="#"></a></li>
                  <li><a class="icon-sm icon-white fa-twitter icon" href="#"></a></li>
                </ul>
              </div>
            </div>
            <div class="team-caption"><a class="link team-title" href="#">Sandra Adams</a><span>Receptionist</span>
            </div>
          </div>


        </div>


      </div>
    </div>


  </section>





  <section class="section section-md bg-white text-center">
    <div class="shell">
      <div class="range range-50 range-md-center">
        <div class="cell-sm-8">
          <div class="contact-box">
            <h3>Get in Touch</h3>
            <p>We are available 24/7 by fax, e-mail or by phone. You can also use our quick contact form to ask a
              question about our services. We would be pleased to answer your questions.</p>
            <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post"
              action="bat/rd-mailform.php">
              <div class="range range-sm-bottom spacing-20">
                <div class="cell-sm-6">
                  <div class="form-wrap">
                    <input class="form-input" id="contact-first-name" type="text" name="name"
                      data-constraints="@Required">
                    <label class="form-label" for="contact-first-name">Your name</label>
                  </div>
                </div>
                <div class="cell-sm-6">
                  <div class="form-wrap">
                    <input class="form-input" id="contact-last-name" type="text" name="phone"
                      data-constraints="@Numeric">
                    <label class="form-label" for="contact-last-name">Phone</label>
                  </div>
                </div>
                <div class="cell-xs-12">
                  <div class="form-wrap">
                    <textarea class="form-input" id="contact-message" name="message"
                      data-constraints="@Required"></textarea>
                    <label class="form-label" for="contact-message">Your Message</label>
                  </div>
                </div>
                <div class="cell-sm-6">
                  <div class="form-wrap">
                    <input class="form-input" id="contact-email" type="email" name="email"
                      data-constraints="@Email @Required">
                    <label class="form-label" for="contact-email">E-mail</label>
                  </div>
                </div>
                <div class="cell-sm-6">
                  <button class="button button-primary button-square button-block button-effect-ujarak"
                    type="submit"><span>send message</span></button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="cell-sm-4">
          <aside class="contact-box-aside text-left">
            <div class="range range-50">
              <div class="cell-xs-6 cell-sm-12">
                <p class="aside-title"> get Social</p>
                <hr class="divider divider-left divider-custom">
                <ul class="list-inline">
                  <li><a class="icon icon-sm icon-gray-3 fa fa-instagram" href="#"></a></li>
                  <li><a class="icon icon-sm icon-gray-3 fa fa-facebook" href="#"></a></li>
                  <li><a class="icon icon-sm icon-gray-3 fa fa-twitter" href="#"></a></li>
                  <li><a class="icon icon-sm icon-gray-3 fa fa-youtube" href="#"></a></li>
                </ul>
              </div>
              <div class="cell-xs-6 cell-sm-12">
                <p class="aside-title"> Phone</p>
                <hr class="divider divider-left divider-custom">
                <div class="unit unit-middle unit-horizontal unit-spacing-xs unit-xs-top">
                  <div class="unit__left"><span class="text-middle icon icon-sm mdi mdi-phone icon-primary"></span>
                  </div>
                  <div class="unit__body"><a class="text-middle link link-gray-dark" href="tel:#">1-800-1234-567</a>
                  </div>
                </div>
              </div>
              <div class="cell-xs-6 cell-sm-12">
                <p class="aside-title"> Address</p>
                <hr class="divider divider-left divider-custom">
                <div class="unit unit-middle unit-horizontal unit-spacing-xs unit-xs-top">
                  <div class="unit__left"><span class="text-middle icon icon-sm mdi mdi-map-marker icon-primary"></span>
                  </div>
                  <div class="unit__body"><a class="text-middle link link-gray-dark" href="contacts.html">267 Park
                      Avenue New York, NY 90210</a></div>
                </div>
              </div>
              <div class="cell-xs-6 cell-sm-12">
                <p class="aside-title"> opening hours</p>
                <hr class="divider divider-left divider-custom">
                <div class="unit unit-middle unit-horizontal unit-spacing-xs unit-xs-top">
                  <div class="unit__left"><span class="text-middle icon icon-sm mdi mdi-clock icon-primary"></span>
                  </div>
                  <div class="unit__body text-gray-darker">
                    <p>We work every day 9:00–23:00</p>
                  </div>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </section>



  <!-- Page Footer-->
  <footer class="page-footer text-left text-sm-left">
    <div class="shell-wide">



      <div class="page-footer-minimal">
        <div class="shell-wide">
          <div class="range range-50">
            <div class="cell-sm-6 cell-md-3 cell-lg-4 wow fadeInUp" data-wow-delay=".1s">
              <div class="page-footer-minimal-inner">
                <h4>Opening Hours</h4>
                <ul class="list-unstyled">
                  <li>
                    <div class="group-xs">
                      <div>
                        <dl class="list-desc">
                          <dt>Weekdays: </dt>
                          <dd class="text-gray-darker"><span>8:00–20:00</span></dd>
                        </dl>
                      </div>
                      <div>
                        <dl class="list-desc">
                          <dt>Weekends: </dt>
                          <dd class="text-gray-darker"><span>9:00–18:00</span></dd>
                        </dl>
                      </div>
                    </div>
                  </li>
                  <li>
                    <p class="rights"><span>&copy;&nbsp;</span><span>2021</span><span>&nbsp;</span><span
                        class="copyright-year"></span>AgroShop. All Rights Reserved. Design by <a
                        href="https://www.templatemonster.com">TemplateMonster</a></p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="cell-sm-6 cell-md-5 cell-lg-4 wow fadeInUp" data-wow-delay=".2s">
              <div class="page-footer-minimal-inner">
                <h4>Address</h4>
                <ul class="list-unstyled">
                  <li>
                    <dl class="list-desc">
                      <dt><span class="icon icon-sm mdi mdi-map-marker"></span></dt>
                      <dd><a class="link link-gray-darker" href="#">Cercado de Lima 15081</a></dd>
                    </dl>
                  </li>
                  <li>
                    <dl class="list-desc">
                      <dt><span class="icon icon-sm mdi mdi-phone"></span></dt>
                      <dd class="text-gray-darker">Call Us: <a class="link link-gray-darker" href="tel:#">+1 (409)
                          987–5874</a>
                      </dd>
                    </dl>
                  </li>
                </ul>
              </div>
            </div>
            <div class="cell-sm-8 cell-md-4 wow fadeInUp" data-wow-delay=".3s">
              <div class="page-footer-minimal-inner-subscribe">
                <h4>Suscríbase a nuestro pagina</h4>
                <!-- RD Mailform-->
                <form class="rd-mailform rd-mailform-inline form-center" data-form-output="form-output-global"
                  data-form-type="subscribe">
                  <div class="form-wrap">
                    <input class="form-input" id="subscribe-email" type="email" name="email"
                      data-constraints="@Email @Required">
                    <label class="form-label" for="subscribe-email">Ingrese su correo</label>
                  </div>
                  <button class="button button-primary-2 button-effect-ujarak button-square"
                    type="submit"><span>Suscribir</span></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>


</div>