<div >

  <div class="title-registry">
    <p>Registrate en SICA</p>
  </div>
  <div class="title-farmer">
    <p>{{title}}</p>
  </div>
</div>
  <form class="registry-form" action="" [formGroup]="driverForm">
    <div *ngIf="this.userType == 'DRIVER'" style=" border-radius: 10px 10px 0px 0px; width: 80%;">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Nro. de Licencia</mat-label>
        <input matInput formControlName="driverLicencia" required>
      </mat-form-field>
    </div>
    <br>
    <div style=" border-radius: 10px 10px 0px 0px;  width: 80%;">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>DNI</mat-label>
        <input matInput formControlName="DNI" required>
      </mat-form-field>
    </div>
    <br>
    <div class="names" style="width: 80%;">
      <div style=" border-radius: 10px 10px 0px 0px; width: 50%; margin-right: 2px;" >
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Nombres</mat-label>
          <input matInput formControlName="Name" required>
        </mat-form-field>
      </div>
      <div style=" border-radius: 10px 10px 0px 0px; width: 50%; margin-left: 2px;">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Apellidos</mat-label>
          <input matInput formControlName="LastName" required>
        </mat-form-field>
      </div>
    </div>
    <br>
    <div style=" border-radius: 10px 10px 0px 0px;  width: 80%;">
      <mat-form-field appearance="outline" [color]="primary" style="width: 100%;" >
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="UserName" required>
      </mat-form-field>
    </div>
    <br>
    <div class="names" style="width: 80%;">
      <div style="  border-radius: 10px 10px 0px 0px;  width: 50%; margin-right: 2px;">
        <mat-form-field appearance="outline" [color]="primary" style="width: 100%;">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="Password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" required>
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div style=" border-radius: 10px 10px 0px 0px;  width: 50%; margin-left: 2px;">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Repetir contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="ConfirmPassword" required>
        </mat-form-field>
      </div>
    </div>
    <div class="example-button-row">
      <button mat-button class="registry-button" (click)="register()" target="_blank">Registrate</button>
    </div>
  </form>

