@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}



.title{
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 80px;
  color: #193B01;
  height: 100px;

}

.title p{
  height: 100%;
}

.title-registry{
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 50px;

  height: 65px;

}

.title-farmer{
  text-align: center;
  font-family: 'Itim', cursive;
  font-size: 30px;

  height: 65px;

}


.registry-form{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 570px;
  border: solid 1px red;
  padding-top:50px;
}

.mat-form-field{

  margin-bottom: 20px;
  width: 400px;
  height: 40px;
}

.example-button-row{
  height: 50px;
  margin-top:30px;
  width: 200px;
}


.mat-button{
  float: right;
  width: 120px;
  font-size: 20px;
}


.names{
  display: flex;
  justify-content: center;
}

.registry-button{
  text-align: center;
  font-family: 'Itim', cursive;
  font-size: 30px;
  color:#fff;
  background-color: rgb(6, 110, 54); border-radius: 20px; width: 100%; height: 100%;
}
