<div>
  <div class="title-registry">
    <p>Registrate</p>
  </div>
  <div class="title-farmer">
    <p>USUARIO</p>
  </div>
</div>
  <form class="registry-form" action="" [formGroup]="driverForm">
    <div *ngIf="">
      <mat-form-field appearance="outline">
        <mat-label>Nro. de Licencia</mat-label>
        <input matInput formControlName="driverLicencia">
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>DNI</mat-label>
      <input matInput formControlName="DNI">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" >
      <mat-label>Nombres</mat-label>
      <input matInput formControlName="Name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" >
      <mat-label>Apellidos</mat-label>
      <input matInput formControlName="LastName">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" >
      <mat-label>Usuario</mat-label>
      <input matInput formControlName="UserName">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" >
      <mat-label>Contraseña</mat-label>
      <input matInput formControlName="Password">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" >
      <mat-label>Repetir contraseña</mat-label>
      <input matInput formControlName="ConfirmPassword">
    </mat-form-field>
    <div class="example-button-row">
      <a mat-button style="background-color: rgb(139, 66, 66);" (click)="register()" target="_blank">Registrar</a>
    </div>
  </form>
