.body-item {
    padding: 0.5%;
}

.grid-item {
    width: 100%;
    height: auto;
    transition: .3s all ease;
    min-height: 20vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.button-filter{

  width: 100px;
  height: 55px;
    position: relative;
    bottom: 10px;
    margin-left: 50px;
}
