<div class="container">
    <h1>{{data.user.name | titlecase}} {{data.user.lastName | titlecase}}</h1>
    <h3>{{data.status | uppercase}}</h3>
    <mat-divider></mat-divider>
    <div class="content">
        <div class="item">
            <h5>{{email}}</h5>
            <p>Email</p>
        </div>
        <div class="item">
            <h5>{{dni}}</h5>
            <p>DNI</p>
        </div>
        <div class="item">
            <h5>{{telefono}}</h5>
            <p>Teléfono</p>
        </div>
        <div class="item">
            <h5>{{fecha | date}}</h5>
            <p>Fecha</p>
        </div>
        <div class="item">
            <h5>{{direccion | titlecase}}</h5>
            <p>Dirección</p>
        </div>
        <div class="item">
            <h5>{{licencia}}</h5>
            <p>Licencia</p>
        </div>
    </div>
    <div class="button">
        <button mat-stroked-button color="primary" mat-dialog-close>Cerrar</button>
    </div>
</div>
