 .container{
     display: flex;
     flex-direction: column;
     max-width: 500px;
     font-family: 'Kumbh Sans', sans-serif;
 }

 .item{
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
    margin: 0 5px 0 5px;
 }

 h5{
    margin-bottom: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    font-size: 15px;
    margin-top: 10px;
 }

 p{
     margin-top: 2px;
 }

 .content{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
 }

 h3{
     text-align: center;
     margin: 5px 0;
     color: #9E9896;
 }

 h1{
     margin: 5px 0 0 0;
     text-align: center;
 }

 .button{
     display: flex;
     justify-content: center;
     margin-bottom: 10px;
 }