<div class="vehicle-facts">
    <div class="vehicle-content"> 
        <mat-card-title *ngIf="this.data.id>0">Modificar vehiculo</mat-card-title>
        <mat-card-title *ngIf="!this.data.id">Ingrese su vehiculo</mat-card-title>
        <hr>
        <br>
<form>
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
        <mat-form-field appearance="outline">
            <mat-label>Numero de placa</mat-label>
            <input matInput [(ngModel)]="this.vehicle.plateNumber" name="plateNumber" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Numero de serie</mat-label>
            <input matInput [(ngModel)]="this.vehicle.serialNumber" name="serialNumber" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Marca del vehiculo</mat-label>
            <input matInput [(ngModel)]="this.vehicle.vehicleBrand" name="vehicleBrand" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Modelo del vehiculo</mat-label>
            <input matInput [(ngModel)]="this.vehicle.vehicleModel" name="vehicleModel" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Año de uso</mat-label>
            <input matInput [(ngModel)]="this.vehicle.yearsOfUse" name="yearsOfUse" type="number" value="0" min="0" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Tipo de combustible</mat-label>
            <mat-select [(ngModel)]="this.vehicle.fuelType" name="fuelType" required>
                <mat-option *ngFor="let e of fuel" [value]="e">
                  {{e}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <mat-select [(ngModel)]="this.vehicle.statusCar" name="statusCar" required>
                <mat-option *ngFor="let e of status" [value]="e">
                  {{e}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
        <p class="subtitles" style="margin-top: 0;">Pesos</p>
        <hr>
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
        <mat-form-field appearance="outline" >
            <mat-label>Peso neto</mat-label>
            <input matInput [(ngModel)]="this.vehicle.netWeight" name="netWeight" type="number" required>
            <span matSuffix> t</span>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Peso bruto</mat-label>
            <input matInput [(ngModel)]="this.vehicle.grossWeight" name="grossWeight" type="number" required>
            <span matSuffix> t</span>
        </mat-form-field>
        <button mat-raised-button color="primary" onclick="document.getElementById('flArchivo').click();" class="btn-select">Seleccionar Archivo</button>
        <input id="flArchivo" type="file" (change)="selectFile($event)" style="display: none">
        <div style="width: 100%;">
            <img mat-card-image [src]="imagenData" *ngIf="imagenEstado" style="display: block; width:180px ;height:180px;margin: auto;" />
        </div>
        <p style="color: red; justify-content: center; margin-bottom: 0;">{{labelFile}}</p>
    </div>
        <br>
        <div class="buttons">
            <button class="first-btn btn-form" mat-stroked-button color="basic" mat-dialog-close>Cancelar</button>
            <button mat-raised-button type="submit" class="btn-form" color="warn" [disabled]="
            !this.vehicle.plateNumber || !this.vehicle.serialNumber || !this.vehicle.vehicleBrand || !this.vehicle.vehicleModel || this._isPhoto == false || this.vehicle.yearsOfUse<=0 ||
            !this.vehicle.yearsOfUse || !this.vehicle.fuelType || !this.vehicle.statusCar || !this.vehicle.netWeight || !this.vehicle.grossWeight"  
            mat-dialog-close (click)="newVehicle()">{{this.button}}</button>
        </div>
    
</form>

</div>



    
