.toolbar {
    /*height: 13%;*/
    height: 10%;
    width: 100%;
}

.central-view {
    /*margin: 0 auto;*/
    margin-top: 2%;
    width: 20%;
    display: inline-block
}

// ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
.texto-flotante {
    position: absolute;

    margin-left: 10px;
    margin-top: 10px ;
}

.texto-portal {
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    font-size: 40px;
    font-weight: 500;
}

.texto-bienvenidos {
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 70px;
    display: block;
    margin: -27px 0 0 -3px;
    font-weight: 400;
}

.technotron {
    border-radius: 0 !important;
    border: 1px solid #242933;
    background-color: #313131;
    opacity: 0.9;
}

.seciton-left {
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    min-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/assets/images/login/background2.jpg");
    background-size: cover;
    .section-left-content {
        max-width: 380px;
    }
    &::after {
        //content: ''; //comentado elozano
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        background: rgba($color: #000000, $alpha: 0.65);
        z-index: -1;
    }
}

.form-holder {
    background: white;
    padding: 16px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    min-width: 20%;
    @media only screen and (max-width: 600px) {
        width: 100%;
    }
}

.signup-form {
    padding: 50px 20px 10px 20px;
}

.login {
    background-color: rgb(255, 255, 255);
}


#mat-menu-panel-0{
  position: relative;
  bottom: 20px;
}


