.toolbar {
    /*height: 13%;*/
    height: 10%;
    width: 100%;
}

.central-view {
    /*margin: 0 auto;*/
    margin-top: 2%;
    width: 20%;
    display: inline-block
}

// ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
.texto-flotante {
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
}

.texto-portal {
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    font-size: 40px;
    font-weight: 500;
}

.texto-bienvenidos {
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 70px;
    display: block;
    margin: -27px 0 0 -3px;
    font-weight: 400;
}

.technotron {
    border-radius: 0 !important;
    border: 1px solid #242933;
    background-color: #313131;
    opacity: 0.9;
}

.seciton-left {
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    min-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/assets/images/login/background2.jpg");
    background-size: cover;
    .section-left-content {
        max-width: 380px;
    }
    &::after {
        //content: ''; //comentado elozano
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        background: rgba($color: #000000, $alpha: 0.65);
        z-index: -1;
    }
}

.form-holder {
    background: white;
    padding: 16px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    min-width: 20%;
    @media only screen and (max-width: 600px) {
        width: 100%;
    }
}

.signup-form {}

.login {
    background-color: rgb(255, 255, 255);
}

#mat-menu-panel-0 {
    position: relative;
    bottom: 20px;
}

#login-panel {
    height: 82%;
    width: 63%;
    display: flex;
    box-shadow: 2px 4px 10px 8px grey;
}

#login-image {
    height: 100%;
    width: 66%;
}

#background {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-form {
    height: 100%;
    width: 34%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}

@media screen and (max-height: 800px) {
    #background {
        overflow: scroll;
        height: 800px;
    }
    #login-panel {
        height: 600px;
    }
    #login-image {
        height: 600px;
    }
    #login-form {
        height: 600px;
    }
}

@media screen and (max-width: 1270px) {
    #login-image {
        display: none;
    }
    #login-form {
        width: 400px;
    }
    #login-panel {
        width: 400px;
    }
}

@media screen and (max-width: 500px) {
    #login-form {
        width: 400px;
    }
    #login-panel {
        width: 400px;
    }
    #background {
        overflow: scroll;
        width: 500px;
    }
}

//New styles

.loading {
    
    //margin-top: 80%;
    margin: 40%;
    //display: flex;
    //justify-content: center;
   // align-items: center;

}

@media only screen and (max-width: 1000px) {
    .img{
       display: none;
    }
}