<!--
  <div class="toolbar">
    <app-toolbar>
    </app-toolbar>
</div>


<div class="seciton-left">
    <div class="section-left-content">
        --<h1 class="text-36 font-weight-light">Monitoreo y Control de la Estrategia Multesectorial Barrio Seguro</h1> --
      </div>
    </div>

    <div class="texto-flotante">
        <span id="txtportal" class="texto-portal"><b>Sistema de integracion entre cliente y agricultor</b></span>
        <span id="txtbienvenidos" class="texto-bienvenidos"><b>SICA</b></span>
    </div>

    <div class="login form-holder height-100vh mat-elevation-z4 ">

        <app-central-view></app-central-view>

    </div>
-->

<div style="height:100vh;width: 100vw; display: flex;justify-content: center;align-items: center;">
  <div style="height: 800px;width: 1200px; display: flex; box-shadow: 2px 4px 10px 8px grey;">
    <div style="height: 100%; width: 800px;">
      <div class="texto-flotante">
        <span id="txtportal" class="texto-portal"><b style="font-size: 30px;">Sistema de integracion entre cliente y agricultor</b></span>
        <span id="txtbienvenidos" class="texto-bienvenidos"><b>SICA</b></span>
      </div>
      <img src="../../../../assets/images/login/background2.jpg" style="height: 100%; width: 100%;">
    </div>
    <div style="height: 100%; width: 400px;">
      <form [formGroup]="loginForm" class="signup-form" fxLayout="column" (ngSubmit)="login()" style="margin-top: 100px;">

        <div class="form-headline text-center mb-32" style="display: flex; justify-content: center;">
            <h1 class="font-weight-light">Bienvenido a SICA</h1>
        </div>

          <div class="mb-48" fxLayout="row wrap" fxLayoutAlign="center center">
          </div>


        <div fxLayout="row" *ngIf="enProceso">
            <mat-progress-bar mode="query" color="accent" fxFlex></mat-progress-bar>
            <br />
        </div>

        <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
          <mat-form-field class="full-width" appearance="outline" style="width: 80%;">
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="username" type="text" name="username" placeholder="Usuario" [class.is-invalid]="f.username.hasError('required') && f.username.touched" />

            <mat-error *ngIf="f.username.hasError('required') && f.username.touched">
                Es requerido
            </mat-error>

        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline" style="width: 80%;">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" type="password" name="password" placeholder="********" [class.is-invalid]="f.password.hasError('required') && f.password.touched" />

            <mat-error *ngIf="f.password.hasError('required') && f.password.touched">
                Es requerido
            </mat-error>

        </mat-form-field>
        </div>
        <br>
        <br>
        <mat-checkbox class="mb-24" style="position: relative;left: 75px;bottom: 30px;">Recordar</mat-checkbox>

        <div class="button-container">
          <div style="text-align:center; margin:10px;">
            <button mat-raised-button color="primary" style="width: 60%; text-align: center;
            font-family: 'Itim', cursive; font-size: 20px;
            color:#fff;
            background-color: rgb(6, 110, 54); border-radius: 20px; height: 100%; margin-bottom: 10px;" [disabled]="enProceso">Ingresa</button>
        </div>


        </div>


        <p style="width: 100%;
    text-align: center;
    border-bottom: 1px solid grey;
    line-height: 0.1em;
    margin: 20px 0 20px;"><span style="padding: 0 10px; background: #fafafa;">o sino</span></p>

    </form>

    <div style="text-align:center">
      <button mat-raised-button color="primary" style="width: 50%; text-align: center;
      font-family: 'Itim', cursive;
      font-size: 20px;
      color:#fff;
      background-color: rgb(6, 110, 54); border-radius: 20px; height: 100%;" [disabled]="enProceso" [matMenuTriggerFor]="menu">Registrate</button>

          <mat-menu #menu="matMenu" >
            <button mat-menu-item (click)="registryForm('FARMER')">Agricultor</button>
            <button mat-menu-item (click)="registryForm('CLIENT')">Cliente</button>
            <button mat-menu-item (click)="registryForm('DRIVER')">Transportista</button>
          </mat-menu>


    </div>
    </div>
  </div>
</div>
