<div style="height:100vh;width: 100vw; display: flex;justify-content: center;align-items: center;">
    <div style="height: 800px;width: 1500px; display: flex; box-shadow: 2px 3px 23px 11px grey; border-radius: 20px;">
        <div style="height: 100%; width: 1100px;">
            <div class="texto-flotante">
                <span id="txtportal" class="texto-portal"><b>Sistema de integracion entre cliente y agricultor  </b></span>
                <span id="txtbienvenidos" class="texto-bienvenidos"><b>SICA</b></span>
            </div>
            <img src="../../../../assets/images/login/background2.jpg" style="height: 100%; width: 100%; border-top-left-radius: 20px; border-bottom-left-radius: 20px;">
        </div>
        <div style="height: 100%; width: 400px;">
            <form [formGroup]="loginForm" class="signup-form" fxLayout="column" (ngSubmit)="login()">

                <div class="form-headline text-center mb-32" style="display: flex; justify-content: center;">
                    <h1 class="font-weight-light">Bienvenido a SICA</h1>
                </div>

                <div class="mb-48" fxLayout="row wrap" fxLayoutAlign="center center">
                </div>


                <div fxLayout="row" *ngIf="enProceso">
                    <mat-progress-bar mode="query" color="accent" fxFlex></mat-progress-bar>
                    <br />
                </div>

                <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Usuario</mat-label>
                        <input matInput formControlName="username" type="text" name="username" placeholder="Usuario" [class.is-invalid]="f.username.hasError('required') && f.username.touched" />

                        <mat-error *ngIf="f.username.hasError('required') && f.username.touched">
                            Es requerido
                        </mat-error>

                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input matInput formControlName="password" type="password" name="password" placeholder="********" [class.is-invalid]="f.password.hasError('required') && f.password.touched" />

                        <mat-error *ngIf="f.password.hasError('required') && f.password.touched">
                            Es requerido
                        </mat-error>

                    </mat-form-field>
                </div>
                <br>
                <br>
                <mat-checkbox class="mb-24" style="position: relative;left: 75px;bottom: 30px;">Recordar</mat-checkbox>

                <div class="button-container">
                    <div style="text-align:center; margin:10px;">
                        <button mat-raised-button color="primary" style="width: 100px;" [disabled]="enProceso">Ingresar</button>
                    </div>


                </div>

                <mat-divider class="my-32"></mat-divider>


            </form>

            <div style="text-align:center">
                <button mat-raised-button color="primary" style="width: 100px;" [disabled]="enProceso" [matMenuTriggerFor]="menu">Registrate</button>

                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="registryForm('FARMER')">Agricultor</button>
                    <button mat-menu-item (click)="registryForm('CLIENT')">Cliente</button>
                    <button mat-menu-item (click)="registryForm('DRIVER')">Transportista</button>
                </mat-menu>


            </div>
        </div>
    </div>
</div>