* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.mat-column-select {
    overflow: visible;
}

.example-form-field {
    width: 60%;
    float: right;
    display: flex;
}

.lista {
    width: 100%;
}

.car-button {
    position: relative;
    top: 40px;
}
input[type=number] {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    padding: 0 8px;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
}    
input[type=number]:hover::-webkit-inner-spin-button { 
    background: #eee url('http://i.stack.imgur.com/YYySO.png') no-repeat 50% 50%;  
    width: 14px;
    height: 14px;
    padding: 4px;
    position: relative;
    right: 4px;
    border-radius: 28px;
}
.mat-dialog-container {
    padding: 0px !important;
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-bottom: 20px;
    padding-bottom: 20px;
}

.summary-order {
    display: flex;
    margin-bottom: 20px;
    height: auto;
}

.total-price {
    left: 0px;
    font-weight: 400px;
    font-size: 20px;
}

.total-price-value {
    font-weight: 400px;
    font-size: 20px;
    padding-left: 20px;
}