<mat-toolbar color="primary"> 
  <span>Carrito de compras</span>
  <div class="elipse" style="margin-left:auto;" mat-dialog-close><span>X</span></div>
</mat-toolbar>


    <mat-list class="lista">
      <mat-selection-list #shoes>
        <mat-list-option *ngFor="let shoe of typesOfShoes">
          <img mat-list-avatar src="../../../../../assets/images/fruta.jpg" height="30px" width="20px" >
          <h3 style="display: inline;"mat-line>{{shoe}}</h3>
          <p mat-line>Precio: 12</p>
        </mat-list-option>
      </mat-selection-list>
    </mat-list>
    
    <mat-form-field  class="example-form-field">
      <input matInput type="number" [(ngModel)]="this.quantity" >
    </mat-form-field>

<br>

<button style="margin-left: 49%; width: 25%;" mat-raised-button color="accent" (click)="closeDialog()">
  Eliminar
</button>
<button style=" margin-left: 1%;width: 25%;" mat-raised-button color="primary" (click)="sendOrder()">
 Pedir
</button>
