<div class="content-item">
    <div class="category-item">
        <div *ngIf="productSales.product.category" class="category-title">{{productSales.product.category.name}}</div>
    </div>
    <div class="item">
        <div class="item-image">
            <div class="info">
                <ul>
                    <li><strong>Unidad </strong>Caja</li>
                    <li><strong>Peso x Caja: </strong>5kg</li>
                    <li><strong>Cantidad Max: </strong>58 U</li>
                    <li><strong>Lugar: </strong>Selva Alta</li>

                    <li><strong>Descuento: </strong>10% Mayor a 30U</li>
                    <li><strong>Tipo de envio: </strong>Rapido</li>
                </ul>

            </div>
            <img class="image-src" [src]="productSales.product._foto">
        </div>
        <div class="item-data">
            <div class="item-title">{{productSales.product.name}}</div>
            <div class="item-description">
                <div class="item-price">S/. {{productSales.price}}</div>
                <div class="item-quantity">
                    <mat-form-field style="width:30px">
                        <input matInput class="input-quantity" [(ngModel)]="productSales.quantitySelect">
                    </mat-form-field>
                    <div class="btn-add" (click)="addProduct()">
                        <i class="fas fa-cart-plus" style="color: white;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
