<h2>{{titulo}}Categoria</h2>

<div [formGroup]="formulario">
    <div class="example-container">
        <!--
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Ingresar nombre" formControlName="name" required>
            meterle comentario <mat-error *ngIf="formulario.controls['name'].invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        -->

        <mat-form-field appearance="fill">
          <mat-label>Categoría</mat-label>
          <mat-select formControlName="name" required>
            <mat-option>Ninguno</mat-option>
            <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
          </mat-select>
        </mat-form-field>

    </div>
    <div class="example-container">
        <mat-form-field>
            <mat-label>Descripcion</mat-label>
            <input matInput placeholder="Ingresar descripcion" formControlName="description">
        </mat-form-field>
    </div>

</div>

<div style="text-align: center;">
    <button mat-raised-button style="width: 50%;" color="primary" [disabled]="!formulario.valid" (click)="save()">Aceptar</button>
    <button mat-raised-button style="width: 50%;" color="accent" (click)="closeDialog()">Cancelar</button>
</div>
