<h2>{{titulo}}Categoria</h2>

<mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="categorySelect.name" placeholder="Ingresar nombre" required>
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>Descripcion</mat-label>
    <input matInput [(ngModel)]="categorySelect.description" placeholder="Ingresar descripcion">
</mat-form-field>
<br>
<br>
<div style="text-align: center;">
    <button mat-raised-button style="width: 50%;" color="primary" (click)="save()">Aceptar</button>
    <button mat-raised-button style="width: 50%;" color="accent" (click)="closeDialog()">Cancelar</button>
</div>