<p>driver-profile works!</p>

<!-- <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>X</button>
</mat-dialog-actions> -->

<!--
<div class="container">
    <h1 mat-dialog-title>{{data.user.name}} {{data.user.lastName}}</h1>
    <div class="img-container">
        <img class="perfil-img" src="../../../../../assets/images/user.png">
    </div>
    <div mat-dialog-content>
        <p>Fecha de registro: {{data.createDate | date}}</p>
        <p>Dirección: {{data.user.address}}</p>
        <p>Email: {{data.user.email}}</p>
        <p>Celular: {{data.user.cellPhone}}</p>
        <p>Licencia: {{data.driverLicenseNumber}}</p>
        <p>Estado: {{data.status}}</p>
        <p>Calificación: {{data.qualification}}</p>
        <p>Eexperiencia: {{data.yearsOfExperience}}</p>
        <p>DNI: {{data.user.documentNumber}}</p>
    </div>
</div>
-->