.container {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    background: linear-gradient(100deg, antiquewhite, aquamarine);
}

h1 {
    margin: 2%;
}

img {
    border-style: outset;
    border-color: darkgrey;
}

.perfil-img {
    background-color: #b6ce99;
    width: 100px;
    height: 100px;
    border-radius: 64px;
}

h1,
p {
    color: #497B6C;
    font-family: monospace;
}