<form class="example-form">
    <p>
        <mat-toolbar class="title-component">
            <span>Detalle del pedido</span>

        </mat-toolbar>
    </p>
    <div style="display: flex;">
        <div style=" width: 55%;">
            <mat-form-field class="example-full-width" appearance="legacy">
                <mat-label>Direccion</mat-label>
                <input matInput [(ngModel)]="this.address" name="address" readonly>
            </mat-form-field>
        </div>
        <div style="width: 45%;">
            <mat-form-field class="example-full-width" appearance="legacy">
                <mat-label>Fecha</mat-label>
                <input matInput [(ngModel)]="this.fecha" name="fecha" readonly>
            </mat-form-field>
        </div>

    </div>


    <div style="display: flex;">
        <div style="width: 55%;">
            <mat-form-field class="example-full-width" appearance="legacy">
                <mat-label>Numero de Productos</mat-label>
                <input matInput [(ngModel)]="this.cantidadTotal" name="cantidad" readonly>
            </mat-form-field>
        </div>
        <div style="width: 45%;">
            <mat-form-field class="example-full-width" appearance="legacy">
                <mat-label>Costo Total</mat-label>
                <input matInput [(ngModel)]="this.costoTotal" name="total" readonly>
            </mat-form-field>
        </div>
    </div>


    <br>

    <mat-accordion displayMode="flat" multi class="mat-table">
        <section matSort class="mat-elevation-z2 mat-header-row">
            <span class="mat-header-cell" mat-sort-header="id">ID</span>
            <span class="mat-header-cell" mat-sort-header="name">ID agricultor</span>
            <span class="mat-header-cell" mat-sort-header="quantity">Cantidad</span>
            <span class="mat-header-cell" mat-sort-header="total">Total</span>
        </section>

        <mat-expansion-panel *ngFor="let item of orderList">
            <mat-expansion-panel-header class="mat-row">
                <span class="mat-cell">{{item.id}}</span>
                <span class="mat-cell">{{item.farmer.id}}</span>
                <span class="mat-cell">{{item.quantity}}</span>
                <span class="mat-cell">S/. {{item.total}}</span>
            </mat-expansion-panel-header>
            <section matSort class="mat-elevation-z2 mat-header-row" style="background-color:#F4F4F4;">
                <span class="mat-header-cell" mat-sort-header="name">Producto</span>
                <span class="mat-header-cell" mat-sort-header="price">Precio</span>
                <span class="mat-header-cell" mat-sort-header="quantity">Cantidad</span>
                <span class="mat-header-cell" mat-sort-header="total">Total</span>

            </section>
            <div *ngFor="let orderDetail of item.orderDetailList" class="mat-row" style="background-color: #FAFAF8;">
                <span class="mat-cell">{{orderDetail.productName}}</span>
                <span class="mat-cell">S/. {{orderDetail.price}}</span>
                <span class="mat-cell">{{orderDetail.quantity}} {{orderDetail.measureUnite || 'kg'}}</span>
                <span class="mat-cell">S/. {{orderDetail.total}}</span>

            </div>
        </mat-expansion-panel>

    </mat-accordion>
    <br>
    <div class="parent">

        <button style="margin-left: 4px; width: 90%;" mat-raised-button color="accent" (click)="closeDialog()">Cerrar</button>
    </div>


</form>