<h2>Nuevo Producto</h2>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="First">

        <mat-form-field>
            <!-- Los datos ingresados lo guarda en la variable -->
            <input matInput placeholder="Nombre" [(ngModel)]="data.name">

        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Descripcion" [(ngModel)]="data.description" type="tel">
        </mat-form-field>
        <br>
        <!--
        <mat-form-field appearance="fill">
            <mat-label>Categoria</mat-label>
            <mat-select [(ngModel)]="productSelect.categoryProduct">
                <mat-option *ngFor="let cat of categorias" [value]="cat">
                    {{cat.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <br>
        <div>
            <button mat-button onclick="document.getElementById('flArchivo').click();">Seleccionar Archivo</button>
            <input id="flArchivo" type="file" (change)="selectFile($event)" style="display: none">
            <br>
            <img mat-card-image [src]="imagenData" *ngIf="imagenEstado" style="display: block; width:180px ;height:180px;margin: auto;" />
            <p>{{labelFile}}</p>
            <br>
        </div>
        <br>
        -->
        <div style="float:left;">
            <button style="margin-left: 10px;" mat-raised-button color="primary" (click)="save()">Aceptar</button>
            <button style="margin-left: 4px;" mat-raised-button color="accent" (click)="closeDialog()">Cancelar</button>
        </div>
    </mat-tab>
    <mat-tab label="Second">

        <h1 mat-dialog-title>Favorite Animal</h1>
        <div mat-dialog-content>

        </div>
        <div mat-dialog-actions>
            <button mat-button (click)="closeDialog()">Cerrar</button>
            <!--<button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>-->
        </div>
    </mat-tab>

</mat-tab-group>