<mat-toolbar class="header">

    <div class="header__title">
        <button class="header__title-button" mat-mini-fab (click)="openMenu()">
        <mat-icon *ngIf="!isMenuOpened" class="header__title-button-icon">menu</mat-icon>
        <mat-icon *ngIf="isMenuOpened" class="header__title-button-icon">arrow_back</mat-icon>
      </button>
        <h6 class="header__title-text">AgroShop</h6>
    </div>

    <div class="header-toolbar">
      <input *ngIf="this.sharedService.userSession.user.profile.name == 'CLIENT'" id="form-control" type="search" placeholder="Buscar producto" aria-label="Search" (keyup.enter)="showProduct(buscarProducto.value)" #buscarProducto>
        <button class="header__title-button" mat-mini-fab (click)="openDialogCar()">
            <mat-icon  matBadge="{{cantidad > 0 ? cantidad: ''}}" matBadgeColor="primary">shopping_cart</mat-icon>
        </button>
        <app-user-profile [user]="user$ | async" (signOut)="signOut()"></app-user-profile>
    </div>
</mat-toolbar>
