<mat-toolbar class="title-component">
    <span>Oferta Laboral</span>
</mat-toolbar>

<br>

<div style="display: flex; flex-wrap: wrap; justify-content: center;">

    <form [formGroup]="form" (ngSubmit)="publicarOferta()" #frmUsuario="ngForm">
        <div style="display: flex;">
            <div style=" width: 33%;">
                        <mat-form-field appearance="outline" style="width: 95%;">
                                <mat-label>Titulo</mat-label>
                                <input matInput formControlName="title" [formGroup]="form" [(ngModel)]="jobOffer.title" required>
                        </mat-form-field>
            </div>

            <div style=" width: 33%;">
                <mat-form-field appearance="outline" style="width: 95%;">
                    <mat-label>Costo de envio (soles) </mat-label>
                    <input matInput type="number" formControlName="shippingCost" [formGroup]="form" [(ngModel)]="jobOffer.shippingCost" onkeypress="return event.charCode >= 48 && event.charCode <=57" min="1" required>      
                </mat-form-field>
            
            </div>

            <div style="width: 34%;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Dia final a postular</mat-label>
                    <input matInput [matDatepicker]="picker" [min]="minDate" formControlName="finalDate" [formGroup]="form" [(ngModel)]="jobOffer.finalDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker ></mat-datepicker>
                </mat-form-field>
            </div>
        </div> 

        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Descripcion</mat-label>
            <textarea class="area" matInput rows="3" formControlName="description" [formGroup]="form" [(ngModel)]="jobOffer.description" required></textarea>
        </mat-form-field>


        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Requerimientos</mat-label>
            <textarea class="area" matInput rows="3" formControlName="requirements" [formGroup]="form" [(ngModel)]="jobOffer.requirements" required></textarea>
        </mat-form-field>

        <div style="display: flex;">
            
            <div style="width: 33%;">
                <mat-form-field appearance="outline" style="width: 95%;">
                    <mat-label>Departamento origen</mat-label>
                    <mat-select [formGroup]="form" (selectionChange)="listarProvinciasSegunIdRegion($event)" required>
                            <mat-option *ngFor="let region of this.regionList" [value]="region">
                                {{region.nombreUbigeo}}
                            </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div style="width: 33%;">
                <mat-form-field appearance="outline" style="width: 95%;">
                    <mat-label>Provincia de origen</mat-label>
                    <mat-select (selectionChange)="listarDistritosSegunIdProvincia($event)" required>
                            <mat-option *ngFor="let province of this.provinceList" [value]="province">
                                {{province.nombreUbigeo}}
                            </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div style="width: 33%;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Distrito de origen</mat-label>
                    <mat-select formControlName="originDistrict" [(ngModel)]="jobOffer.originDistrict" required>
                            <mat-option *ngFor="let district of this.districtList" [value]="district.nombreUbigeo">
                                {{district.nombreUbigeo}}
                            </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            
        </div>

       


        <button style="width: 100%;" mat-raised-button color="primary" type="submit" [disabled]="frmUsuario.invalid">Enviar Oferta</button>
    </form>

</div>


