/* Code witch overwrites input background-color */

input {
    box-shadow: 0 0 0px 1000px #5AAE03 inset;
    font-weight: bold;
}


/*
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #5EB503 inset;
}


input:-webkit-autofill:first-line {
    color: #ffffff;
}*/