<div class="background">
  <mat-card>
    <img class="registry-img" alt="">
    <div class="registry-container">
      <app-driver-form-container></app-driver-form-container>
    </div>
  </mat-card>
</div>


<!--
  <div class="registry-container2">
        <div class="registry-form">
          <div class="title">
            <p>Agroshop</p>
          </div>
          <div class="profiles">
            <p>Perfiles</p>
            <div class="profiles-button">
              <a class="farmer">Agricultor</a>
            </div>
          </div>
        </div>
      </div>
-->
