<div class="registry-container">
  <mat-card class="registry-form">
    <div class="title">
      <p>Agroshop</p>
    </div>
    <div class="title-registry">
      <p>Registrate</p>
    </div>
    <div class="title-farmer">
      <p>Agricultor</p>
    </div>
    <mat-form-field appearance="fill">
      <p>DNI</p>
      <mat-label>Ingrese su número de DNI</mat-label>
      <input mat-input type="text">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <p>Nombres</p>
      <mat-label>Ingrese sus nombres</mat-label>
      <input mat-input type="text">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <p>Apellidos</p>
      <mat-label>Ingrese sus apellidos</mat-label>
      <input mat-input type="text">
    </mat-form-field>
  </mat-card>
</div>
