<div class="center">
  <p>Confirmación de llegada de pedido</p>
  <hr />
  <div class="custom-input-file">
    <input
      (change)="selectImage($event)"
      type="file"
      class="input-file"
      id="inputGroupFile04"
      aria-describedby="inputGroupFileAddon04"
      aria-label="Subir imagen"
    />Subir imagen
  </div>
  <div class="div-imagen">
    <img [src]="src" alt="Client photo" id="blah" />
  </div>
  <div>
    <button
      mat-raised-button
      color="accent"
      (click)="uploadImage()"
      [disabled]="!imageSelected"
      type="button"
      id="inputGroupFileAddon04"
    >
      Enviar
    </button>
  </div>
</div>
