<mat-card class="general" style=" background:#5EB503">

    <mat-card-header class="centrar">
        <mat-card-title class="titulo">
            <span style=" color:#193B01;">Agro</span>Shop
        </mat-card-title>
        <mat-card-subtitle style="font-size:large;color:white">Iniciar Sesion</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

        <app-central-content></app-central-content>

    </mat-card-content>
    <mat-card-actions class="centrar">

        <button mat-raised-button class="btn-ingresar">Ingresar</button>
        <br>
        <br>
        <a routerLink="." class="btn-registrarse">Registrarse</a>

    </mat-card-actions>


</mat-card>