<mat-card class="mat-card">

    <mat-card-header>
        <mat-card-title  style="font-size: 200%">AgroShop</mat-card-title>
        <mat-card-subtitle style="font-size: 100%">Iniciar Sesion</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

        <app-central-content></app-central-content>

    </mat-card-content>
    <mat-card-actions>

        <button mat-raised-button style="height: 50px;margin-left:15%;width: 70%;border-radius: 10px;font-size: 180%">Ingresar</button>
	<br>
	<br>
        <a mat-button routerLink="." style="width: 100%;font-size: large;">Registrarse</a>

    </mat-card-actions>


</mat-card>