<div class="layout-data2">
    Detalles del pedido
</div>
<div class="layout-data">
<div style="display: flex;">
    <div style=" width: 60%;">
        <mat-chip-list aria-label="Fish selection">
            <mat-chip >Direccion</mat-chip>
        </mat-chip-list>
        <br>
        <p>{{data.address}}</p>
       
    </div>
    <div style="width: 40%;">
       
        <mat-chip-list aria-label="Fish selection">
            <mat-chip >Cantidad de productos</mat-chip>
        </mat-chip-list>
        <br>
        <p>{{data.quantity}} productos</p>
       
    </div>

</div>
<br>
<br>
<div style="display: flex;">
    <div style=" width: 60%;">
        
        <mat-chip-list aria-label="Fish selection">
            <mat-chip >Telefono</mat-chip>
        </mat-chip-list>
        <br>
        <p>{{data.phone}}</p>
       
    </div>
    <div style="width: 40%;">
       
        <mat-chip-list aria-label="Fish selection">
            <mat-chip >Referencia</mat-chip>
        </mat-chip-list>
        <br>
        <p>{{data.reference}}</p>
       
    </div>

</div>

</div>