<!--
<h2>Descripcion del producto!</h2>
-->
<mat-tab-group mat-align-tabs="center">
    <!--<mat-tab label="First">-->
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">info</mat-icon>
        </ng-template>
        <br>
        <mat-form-field>
            <input matInput placeholder="Nombre" [(ngModel)]="this.data.name" readonly="readonly">

        </mat-form-field>
        <br>
        <mat-form-field appearance="legacy">
            <textarea matInput placeholder="Descripcion" [(ngModel)]="this.data.description" readonly="readonly"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Categoria" [(ngModel)]="this.data.category.name" readonly="readonly">
        </mat-form-field>



        <div mat-dialog-actions>
            <button mat-button (click)="closeDialog()">Cerrar</button>
        </div>

    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">info</mat-icon>
        </ng-template>
        <h1 mat-dialog-title></h1>
        <div mat-dialog-content>

            <!--    
        <button mat-button onclick="document.getElementById('flArchivo').click();">Seleccionar Archivo</button>
        <input id="flArchivo" type="file" (change)="selectFile($event)" style="display: none">
         -->
            <mat-form-field>
                <input matInput placeholder="Estado" [(ngModel)]="this.data.status" readonly="readonly">
            </mat-form-field>
            <br>
            <img mat-card-image [src]="imagenData" *ngIf="imagenEstado" style="display: block; width:180px ;height:180px;margin: auto;" />
            <p>{{labelFile}}</p>
            <br>

        </div>
        <div mat-dialog-actions>
            <button mat-button style="float:left;" (click)="closeDialog()">Cerrar</button>
        </div>
    </mat-tab>

</mat-tab-group>