<mat-tab-group mat-align-tabs="center">

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">info</mat-icon>
        </ng-template>
        <br>
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput [(ngModel)]="this.data.name" readonly="readonly">

        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Descripcion</mat-label>
            <input matInput [(ngModel)]="this.data.description" readonly="readonly">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Categoria</mat-label>
            <input matInput [(ngModel)]="this.data.category.name" readonly="readonly">
        </mat-form-field>

    </mat-tab>

    <mat-tab>

        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">image</mat-icon>
        </ng-template>
        <!--
        <br>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Estado" [(ngModel)]="this.data.status" readonly="readonly">
        </mat-form-field>
        -->
        <br>
        <img mat-card-image [src]="imagenData" *ngIf="imagenEstado" alt="sin imagen" style="display: block; width:180px ;height:180px;margin: auto;" />
        <img mat-card-image src="/assets/images/sin-imagen.jpg" *ngIf="!imagenEstado" style="display: block; width:180px ;height:180px;margin: auto;" />
        <br>

    </mat-tab>

    <mat-tab>

        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">schedule</mat-icon>
        </ng-template>
        <br>
        <mat-form-field>
            <mat-label>Fecha creacion</mat-label>
            <input matInput type="datetime" [ngModel]='this.data.createDate | date:"yyyy-MM-dd HH:mm:ss" ' readonly="readonly">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Fecha actualizacion</mat-label>
            <input matInput type='datetime' [ngModel]='this.data.updateDate | date:"yyyy-MM-dd HH:mm:ss" ' readonly="readonly">
        </mat-form-field>

    </mat-tab>

</mat-tab-group>

<button mat-button style="width: 100%;" (click)="closeDialog()">Cerrar</button>