
.titulo {
    text-align: center;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

.close-dialog{
    margin-right: -10px;
    //margin-top: 7px;
    margin-left: auto;
    border: none;
    background: none;
    
}

.close-dialog ::ng-deep .mat-button-focus-overlay {
    display: none;
}