<div class="card__title">{{this.data.title}}</div>

<div class="card__content">
    <p>{{this.data.description}}</p>
    <p class="card__requer">Requisitos mínimos:</p>
    <p>{{this.data.requirements}}</p>
    <hr>
    <div>
        <span class="card__init">Solicitante: {{this.data.order.farmer.user.name}}</span>
        <span>Telefono: {{this.data.order.phone}}</span>
    </div>
    <div>
        <span class="card__init">Direccion: {{this.data.order.address}}</span>
        <span>Costo: $/.{{this.data.shippingCost}}</span>
    </div>
    <div>
        <span class="card__init">Fecha Final: {{this.data.finalDate}}</span>
        <span>Peso total: {{this.data.totalWeight}}</span>
    </div>
    <div>
        <span class="card__init">Departamento Inicio: {{this.data.departmentOrigin}}</span>
        <span>Departamento Fin: {{this.data.order.reference }}</span>
    </div>
    <br>
    <p class="card__requer">Propuesta de trabajo:</p>
    <mat-form-field class="example-full-width" appearance="outline">
        <textarea matInput [(ngModel)]="this.detail" placeholder="Escribir aqui..."></textarea>
    </mat-form-field>
    <br>
    <div style="float: right">
        <button mat-raised-button mat-dialog-close style="margin-right: 5px;" color="basic">Cancelar</button>
        <button mat-raised-button color="primary" (click)="offerPostulate()">POSTULAR</button>
    </div>

</div>
