.card__title{
    color: #009865;
    font-weight: bold;
    font-size: 30px;
    display: block;
    width: 100%;
    text-align: center;
}

.card__requer{
    font-weight: bold;
}

.card__init{
    width: 50%;
    display: inline-block;
}

.example-full-width {
    width: 100%;
}

span{
    font-weight: bold;
}

span > span{
    font-weight: normal;
}
