<div class="card__title">Se buscan felipes (Esclavos)</div>

<div class="card__content">
    <p>DESCRIPCION sit amet consectetur adipisicing elit. Harum amet, facere officia est maxime dolore libero sint perspiciatis suscipit consequatur! Fuga voluptatum fugiat saepe impedit? Veritatis voluptatum voluptas deserunt ut.</p>
    <p class="card__requer">Requisitos mínimos:</p>
    <p>REQUISITOS sit amet consectetur adipisicing elit. Deserunt aliquam placeat aliquid quam voluptates illum vitae expedita. Dolor ad repellendus ab, corporis qui saepe quisquam, fugit ipsa odit numquam placeat.</p>
    <div>
        <span class="card__init">Solicitante: Felipe Felipin Felipillo</span>
        <span>Telefono: 666999666</span>
    </div>
    <div>
        <span class="card__init">Costo: 666</span>
        <span>Peso total: 80 lb</span>
    </div>
    <div>
        <span class="card__init">Departamento Inicio: Lima</span>
        <span>Departamento Fin: Cusco</span>
    </div>
    <br>
    <div style="float: right">
        <button mat-raised-button mat-dialog-close style="margin-right: 5px;" color="basic">Cancelar</button>
        <button mat-raised-button color="primary">POSTULAR</button>
    </div>

</div>
