<mat-tab-group mat-align-tabs="center">

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">info</mat-icon>
        </ng-template>
        <br>
        <mat-form-field>
            <mat-label>Producto</mat-label>
            <input matInput [(ngModel)]="this.data.product.name" readonly="readonly">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Unidad de Medida</mat-label>
            <input matInput [(ngModel)]="this.data.measureUnite" readonly="readonly">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Peso x Unidad</mat-label>
            <input matInput [(ngModel)]="this.data.weight" readonly="readonly">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Precio</mat-label>
            <input matInput [(ngModel)]="this.data.price" readonly="readonly">
        </mat-form-field>

    </mat-tab>

    <mat-tab>

        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">visibility</mat-icon>
        </ng-template>
        <br>
        <mat-form-field>
            <mat-label>Cantidad Total</mat-label>
            <input matInput [(ngModel)]="this.data.totalQuantity" readonly="readonly">

        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Cantidad Disponible</mat-label>
            <input matInput [(ngModel)]="this.data.availableQuantity" readonly="readonly">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Disponibiliad</mat-label>
            <input matInput [(ngModel)]="this.data.statusSales" readonly="readonly">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Estado</mat-label>
            <input matInput [(ngModel)]="this.data.status" readonly="readonly">
        </mat-form-field>

    </mat-tab>

    <mat-tab>

        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">schedule</mat-icon>
        </ng-template>
        <br>
        <mat-form-field>
            <mat-label>Fecha creacion</mat-label>
            <input matInput type="datetime" [ngModel]='this.data.createDate | date:"yyyy-MM-dd HH:mm:ss" ' readonly="readonly">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Fecha actualizacion</mat-label>
            <input matInput type="datetime" [ngModel]='this.data.updateDate | date:"yyyy-MM-dd HH:mm:ss" ' readonly="readonly">
        </mat-form-field>
    </mat-tab>

</mat-tab-group>

<button mat-button style="width: 100%;" (click)="closeDialog()">Cerrar</button>