th{
    background-color: #232F34;
    font-size: 15px;
    color: white;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
  }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }

.header-search {
    background: white;
    border: 1px solid #B1E540;
    box-sizing: border-box;
    box-shadow: 2px 3px 4px #B3DB93;
    border-radius: 45px;
    width: 300px;
    display: flex;
    float: right;
    margin-bottom: 1rem;
}

mat-icon{
    cursor: pointer;
}

.icon-info {
    background-color: #D9F3B9;
    border-radius: 50px;
    cursor: pointer;
}

.icon-search {
    color: #BBDF9D;
}

input::placeholder {
    color: #BBDF9D;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    padding-top: 5px;
    text-align: left;
}

.input-search {
    background: white;
    margin: auto;
    border: 0;
    box-sizing: border-box;
    border-radius: 45px;
    outline: none;
    padding: 10px;
    padding-top: 15px;
}

.mat-card {
    background-color: inherit;
    box-sizing: border-box;
    margin: 8px 10px 8px 10px;
    padding: 0;
    box-shadow: none !important;
}

mat-select {
    border: none;
}

table {
    box-shadow: none;
}

.select-status {
    margin-top: 0.8rem;
    margin-top: 1.5rem;
    margin-right: 3.5rem;
    display: flex;
}

.text {
    color: #75a936;
    font-weight: bold;
}

th.mat-sort-header-sorted {
    color: black;
}

@media (max-width: 500px) {
    .example-container {
        width: 100%;
        max-width: 100%;
        overflow: auto;
    }
}

.mat-column-id{
    width: 8%;
}
