<div class="mat-card">
    <div class="header">
        <div class="select-status">
            <span class="text">Estado</span>
            <mat-select>
                <mat-option *ngFor="let item of status" [value]="item" ngDefaultControl (click)="getListDriverByStatus(item)">
                    {{ item }}
                </mat-option>
            </mat-select>
        </div>

        <div class="header-search">
            <input matInput (keyup)="searchDriver(input.value)" class="input-search" placeholder="DNI" #input/>
            <button type="button" (click)="searchDriver(input.value)" class="button-search">
      <mat-icon class="icon-search">search</mat-icon>
    </button>
        </div>
    </div>
    <div class="example-container">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <ng-container matColumnDef="datos">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ver</th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon class="icon-info" (click)="openInfoDriverModal(element)">person</mat-icon>
                </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="user.documentNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>DNI</th>
                <td mat-cell *matCellDef="let element">{{ element.user.documentNumber }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="user.name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                <td mat-cell *matCellDef="let element">{{ element.user.name }}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="user.lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
                <td mat-cell *matCellDef="let element">{{ element.user.lastName }}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Estado</th>
                <td mat-cell *matCellDef="let element">
                    <span>{{ element.status }}</span>
                    <button *ngIf="element.status == 'Pendiente'" mat-icon-button color="primary" (click)="setIds(element.id)">
          <mat-icon>edit</mat-icon>
        </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
</div>
