.button-search {
    outline: none;
    border: none;
    background-color: #F4FCE5;
    cursor: pointer;
    float: right;
    padding-left: 65px;
    padding-top: 5px;
    border-radius: 45px;
}

.header {
    float: right;
    display: flex;
}

.header-search {
    background: #F4FCE5;
    border: 1px solid #B1E540;
    box-sizing: border-box;
    box-shadow: 2px 3px 4px #B3DB93;
    border-radius: 45px;
    width: 300px;
    display: flex;
    float: right;
    margin-bottom: 1rem;
}

.icon-info {
    background-color: #D9F3B9;
    border-radius: 50px;
    cursor: pointer;
}

.icon-search {
    color: #BBDF9D;
}

input::placeholder {
    color: #BBDF9D;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    padding-top: 5px;
    text-align: left;
}

.input-search {
    background: #F4FCE5;
    margin: auto;
    border: 0;
    box-sizing: border-box;
    border-radius: 45px;
    outline: none;
    padding: 10px;
    padding-top: 15px;
}

.mat-card {
    // background-color: #D9F3B9;
    /* background-color: inherit;
    border: none;
    box-sizing: border-box;
    width: 50%; */
    padding: 20px;
    margin: 50px;
    margin-top: 5%;
    background-color: inherit;
    box-shadow: none;
}

mat-select {
    border: none;
}

.select-status {
    margin-top: 0.8rem;
}

table {
    box-shadow: none;
}

.text {
    color: #75a936;
    font-weight: bold;
}

th.mat-sort-header-sorted {
    color: black;
}

@media (max-width: 500px) {
    .example-container {
        width: 100%;
        max-width: 100%;
        overflow: auto;
    }
    .button-search {
        padding-left: 0;
    }
    .header-search {
        width: 100%;
    }
}