<p class="offer__title">Listado de Ofertas</p>
<div class="cards">
    <mat-card class="card__search">
        <mat-form-field class="example-form-field" appearance="outline" >
            <mat-label>Departamento inicio</mat-label>
            <input matInput name="departmentIni">
        </mat-form-field>
        <mat-form-field class="example-form-field" appearance="outline" >
            <mat-label>Departamento fin</mat-label>
            <input matInput name="departmentIni">
        </mat-form-field>
        <mat-form-field class="example-form-field" appearance="outline">
            <mat-label>Fecha Final</mat-label>
            <input matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="example-form-field" appearance="outline" type="number">
            <mat-label>Peso inicio</mat-label>
            <input matInput name="departmentIni">
        </mat-form-field>
        <mat-form-field class="example-form-field" appearance="outline" type="number">
            <mat-label>Peso fin</mat-label>
            <input matInput name="departmentIni">
        </mat-form-field>
        <mat-form-field class="example-form-field" appearance="outline" type="number">
            <mat-label>Precio inicio</mat-label>
            <input matInput name="departmentIni">
        </mat-form-field>
        <mat-form-field class="example-form-field" appearance="outline" type="number">
            <mat-label>Precio fin</mat-label>
            <input matInput name="departmentIni">
        </mat-form-field>
        <button mat-raised-button color="primary">Buscar</button>
    </mat-card>
</div>
<div class="cards">
    <mat-card *ngFor="let job of obs | async" class="card__total">
        <div class="card__title">{{job.title}}</div>
        <div class="card__content">
            <p>{{job.description}}</p>
            <p class="card__requer">Requisitos mínimos:</p>
            <p>{{job.requeriments}}</p>
            <div style="float: left">
                <button mat-raised-button color="primary" (click)="moreDetails(job)">VER OFERTA</button>
            </div>
            <div style="float: right" class="card__opc">
                <span class="material-icons" style="font-size: 14px">calendar_today</span>Postula hasta el {{job.date}}
            </div>    
        </div>
    </mat-card>
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" style="width: 80%;"></mat-paginator>
</div>
