.offer__title{
    font-size: 25px;
    font-weight: bold;
    border-bottom: 5px solid;
    text-align: center;
}

.card__total{
    width: 80%;
    min-height: 40%;
}

.cards{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card__title{
    color: #009865;
    font-weight: bold;
    font-size: 18px;
    display: block;
    width: 100%;
}

.card__requer{
    font-weight: bold;
}

.card__search{
    width: 80%;
}
