<p class="offer__title">Listado de Ofertas de Trabajos</p>
<div class="cards">
    <mat-card class="card__search">
        <form>
            <mat-form-field appearance="outline" class="example-form-field" name="region">
                <mat-label>Región Inicio</mat-label>
                <mat-select name="regionSelect" (selectionChange)="listarProvinciasSegunIdRegion($event)" [(ngModel)]="this.searchJobOffer.originRegion">
                    <mat-option *ngFor="let region of this.originRegionList" [value]="region.codigoDepartamento">
                        {{region.nombreUbigeo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-form-field" name="provincia">
                <mat-label>Provincia Inicio</mat-label>
                <mat-select name="provinceSelect" (selectionChange)="listarDistritosSegunIdProvincia($event)" [(ngModel)]="this.searchJobOffer.originProvince">
                    <mat-option *ngFor="let province of this.originProvinceList" [value]="province.codigoProvincia">
                        {{province.nombreUbigeo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-form-field" name="distrito">
                <mat-label>Distrito Inicio</mat-label>
                <mat-select name="distritoSelect" [(ngModel)]="this.searchJobOffer.originDistrict">
                    <mat-option *ngFor="let district of this.originDistrictList" [value]="district.codigoDistrito">
                        {{district.nombreUbigeo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-form-field" name="region">
                <mat-label>Región Final</mat-label>
                <mat-select name="regionSelect" (selectionChange)="listarProvinciasSegunIdRegionDestination($event)" [(ngModel)]="this.searchJobOffer.destinationRegion">
                    <mat-option *ngFor="let region of this.destinationRegionList" [value]="region.codigoDepartamento">
                        {{region.nombreUbigeo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-form-field" name="provincia">
                <mat-label>Provincia Final</mat-label>
                <mat-select name="provinceSelect" (selectionChange)="listarDistritosSegunIdProvinciaDestination($event)" [(ngModel)]="this.searchJobOffer.destinationProvince">
                    <mat-option *ngFor="let province of this.destinationProvinceList" [value]="province.codigoProvincia">
                        {{province.nombreUbigeo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-form-field" name="distrito">
                <mat-label>Distrito Final</mat-label>
                <mat-select name="distritoSelect" [(ngModel)]="this.searchJobOffer.destinationDistrict">
                    <mat-option *ngFor="let district of this.destinationDistrictList" [value]="district.codigoDistrito">
                        {{district.nombreUbigeo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-form-field">
                <mat-label>Peso Inicio</mat-label>
                <input matInput [(ngModel)]="this.searchJobOffer.weightIni" name="weightIni" type="number" min="0">
            </mat-form-field>
            <mat-form-field *ngIf="this.searchJobOffer.weightIni != undefined" appearance="outline" class="example-form-field">
                <mat-label>Peso Final</mat-label>
                <input matInput [(ngModel)]="this.searchJobOffer.weightFin" name="weightFin" type="number" min="0">
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-form-field">
                <mat-label>Precio Inicio</mat-label>
                <input matInput [(ngModel)]="this.searchJobOffer.priceIni" name="priceIni" type="number" min="0">
            </mat-form-field>
            <mat-form-field *ngIf="this.searchJobOffer.priceIni != undefined" appearance="outline" class="example-form-field">
                <mat-label>Precio Final</mat-label>
                <input matInput [(ngModel)]="this.searchJobOffer.priceFin" name="priceFin" type="number" min="0">
            </mat-form-field>
            <button mat-raised-button type="submit" color="primary" (keyup.enter)="listOffer()" (click)="listOffer()" [disabled]="(this.searchJobOffer.weightIni != undefined && this.searchJobOffer.weightFin == undefined)
            || (this.searchJobOffer.priceIni != undefined && this.searchJobOffer.priceFin == undefined)">Buscar</button>
        </form>
    </mat-card>
</div>

<div class="cards">
    <mat-card *ngFor="let job of obs | async" class="card__total">
        <div class="card__title">{{job.title}}</div>
        <div class="card__content">
            <p>{{job.description}}</p>
            <p class="card__requer">Requisitos mínimos:</p>
            <p>{{job.requirements}}</p>
            <div style="float: left">
                <button mat-raised-button color="primary" (click)="moreDetails(job)">VER OFERTA</button>
            </div>
            <div style="float: right" class="card__opc">
                <span class="material-icons" style="font-size: 14px">calendar_today</span> Postula hasta el {{job.finalDate}}
            </div>
        </div>
    </mat-card>
    <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" style="width: 83%;"></mat-paginator>
</div>